            .about{
                background:url(done.jpg);
                background-size: 80%;
                background-color:#fdfdfd;
                overflow:hidden;
                padding:100px;
            }  
            img{
               float:left ; 
               margin-left:10px;
                height:400px; 
                width:500px;
            }
            .inner{
                width:50%;
                float:right;
               
                padding:140px
                box-shadow:12px 12px 8px rgba(8,14,44,0.7);
            }
            .inner h1{
                background-color:#CCCCD9;
                margin-bottom:30px;
                font-size:30px;
                font-weight:900;
             
            }
            .note{
                font-size:13px;
                color:black;
                text-align:justify;
                margin-bottom:40px;
                line-height:30px;
            }
            
            
